<div class="fixed-action-btn">
  <a  [routerLink]="['/crear-contacto']" class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>
</div>

<div class="row">
  <div class="card">
        <div class="col s12 main"> 
          <div class="panel panel-default panel-table">
            <div class="panel-heading">
              <div class="row">
                <div class="col col-xs-6">
                  <h3 class="panel-title">Lista de contactos</h3>
                </div>
              </div>
            </div>
            <div class="card">
              <table>
                <thead>
                  <tr>
                    <th><em class="fa fa-cog"></em></th>
                    <th data-field="id">ID</th>
                    <th data-field="nombre">Nombre</th>
                    <th data-field="telefono">Telefono</th>
                    <th data-field="mobile">Movil</th>
                    <th data-field="email">Email</th>
                  </tr> 
                </thead>

                <tbody>
                  <tr *ngFor="let contacto of contactos">
                    <td style="text-align: center">
                       <a [routerLink]="['/contacto', contacto.id ]" class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">visibility</i></a>
                    </td>
                    <td class="hidden-xs">{{contacto.id}}</td>
                    <td>{{contacto.nombre}} {{contacto.primer_apellido}}</td>
                    <td>{{contacto.telefono_fijo}}</td>
                    <td>{{contacto.telefono_movil}}</td>
                    <td>{{contacto.email}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>
