 <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main"> 
	<form class="form-horizontal">
		<fieldset>
		<!-- Form Name -->
		<legend>Crear Contacto</legend>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="nombre">Nombre</label>  
		  <div class="col-md-4">
		  <input id="nombre" name="nombre" type="text" placeholder="Nombre" class="form-control input-md" required="">
		    
		  </div>
		</div>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="primer_apellido">Primer Apellido</label>  
		  <div class="col-md-4">
		  <input id="primer_apellido" name="primer_apellido" type="text" placeholder="Primer Apellido" class="form-control input-md">
		    
		  </div>
		</div>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="segundo_apellido">Segundo Apellido</label>  
		  <div class="col-md-4">
		  <input id="segundo_apellido" name="segundo_apellido" type="text" placeholder="Segundo Apellido" class="form-control input-md">
		    
		  </div>
		</div>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="puesto">Puesto</label>  
		  <div class="col-md-4">
		  <input id="puesto" name="puesto" type="text" placeholder="Puesto" class="form-control input-md">
		    
		  </div>
		</div>

		<!-- Select Basic -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="genero">Genero</label>
		  <div class="col-md-4">
		    <select id="genero" name="genero" class="form-control">
		      <option value="M">Hombre</option>
		      <option value="F">Mujer</option>
		    </select>
		  </div>
		</div>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="telefono_movil">Teléfono Movil</label>  
		  <div class="col-md-4">
		  <input id="telefono_movil" name="telefono_movil" type="text" placeholder="Teléfono Movil" class="form-control input-md">
		    
		  </div>
		</div>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="telefono_fijo">Teléfono Fijo</label>  
		  <div class="col-md-4">
		  <input id="telefono_fijo" name="telefono_fijo" type="text" placeholder="Teléfono Fijo" class="form-control input-md">
		    
		  </div>
		</div>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="direccion">Dirección</label>  
		  <div class="col-md-4">
		  <input id="direccion" name="direccion" type="text" placeholder="Dirección" class="form-control input-md">
		    
		  </div>
		</div>

		</fieldset>
	</form>
</div>
