 <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main"> 
	 <div class="card">
		<form>
			<fieldset>
			<!-- Form Name -->
			 <h3 class="panel-title">Crear Contacto</h3>

			<!-- Text input-->
			<div class="input-field">
			  <label for="nombre">Nombre</label>  
			  <input id="nombre" name="nombre" type="text" placeholder="Nombre">
			</div>

			<!-- Text input-->
			<div class="input-field">
			  <label for="primer_apellido">Primer Apellido</label>  
			  <input id="primer_apellido" name="primer_apellido" type="text" placeholder="Primer Apellido">
			</div>

			<!-- Text input-->
			<div class="input-field">
			  <label  for="segundo_apellido">Segundo Apellido</label>  
			  <input id="segundo_apellido" name="segundo_apellido" type="text" placeholder="Segundo Apellido">
			</div>

			<!-- Text input-->
			<div class="input-field">
			  <label  for="puesto">Puesto</label>  
			  <input id="puesto" name="puesto" type="text" placeholder="Puesto">
			</div>

			<!-- Select Basic -->
			 
			 
			  <div class="row">
			   <div class="col s4"><p>Genero</p></div>
			   <div class="input-field col s4">
			      <input name="group1" type="radio" id="test1" />
			      <label for="test1">Hombre</label>
			    </div>
			    <div class="input-field col s4">
			      <input name="group1" type="radio" id="test2" />
			      <label for="test2">Mujer</label>
			    </div>
			  </div>

			 <br>

			<!-- Text input-->
			<div class="input-field">
			  <label for="telefono_movil">Teléfono Movil</label>  
			  <input id="telefono_movil" name="telefono_movil" type="text" placeholder="Teléfono Movil">
			</div>

			<!-- Text input-->
			<div class="input-field">
			  <label for="telefono_fijo">Teléfono Fijo</label>  
			  <input id="telefono_fijo" name="telefono_fijo" type="text" placeholder="Teléfono Fijo">
			</div>

			<!-- Text input-->
			<div class="input-field">
			  <label for="direccion">Dirección</label>  
			  <input id="direccion" name="direccion" type="text" placeholder="Dirección">
			</div>

			</fieldset>
		</form>
	</div>
</div>