/* You can add global styles to this file, and also import other style files */

@import "../node_modules/materialize-css/dist/css/materialize.css";


.error{
    position: relative;
    top: -1rem;
    left: 0rem;
    font-size: 0.8rem;
    color: #FF4081;
}

fieldset {
    border: 1px solid white;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}